<footer>
<!-- //footer -->
    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">© 2023 DjangoSneakers. All rights reserved | Design by
                    <a href="https://djangochannel.com">Hydrartew</a>
                </p>
                <!-- move top icon -->
                <a href="#home" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true" ></span></a>
                <!-- //move top icon -->
            </div>
        </div>
    </div>
</footer>